.shop_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 10px;

}
.cart-container{
    background-color: rgb(204, 159, 46);
    margin-top: 10px;
    border: 1px solid gray;
}

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:692px) {
    .products-container{
        grid-template-columns: 1fr;
    }
}